<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ryersonedp.caralarm" >

    <!-- PERMISSIONS-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission      android:name="com.ryersonedp.caralarm.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="com.ryersonedp.caralarm.permission.C2D_MESSAGE" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- PUSH NOTIFICATIONS -->
    <service android:name="com.parse.PushService" />
    <receiver android:name="com.parse.ParseBroadcastReceiver">
        <intent-filter>
            <action android:name="android.intent.action.BOOT_COMPLETED" />
            <action android:name="android.intent.action.USER_PRESENT" />
        </intent-filter>
    </receiver>

    <receiver android:name="com.ryersonedp.caralarm.CustomParseBroadcastReceiver">
        <intent-filter>
            <action android:name="com.ryersonedp.caralarm.NEW_NOTIF" />
        </intent-filter>
    </receiver>

    <receiver android:name="com.parse.GcmBroadcastReceiver"
        android:permission="com.google.android.c2dm.permission.SEND">
        <intent-filter>
            <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

            <!--
              IMPORTANT: Change "com.parse.tutorials.pushnotifications" to match your app's package name.
            -->
            <category android:name="com.ryersonedp.caralarm" />
        </intent-filter>
    </receiver>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.ryersonedp.caralarm.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_api_key" />

        <service android:name="com.parse.PushService" />
        <receiver android:name="com.parse.GcmBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.ryersonedp.caralarm" />
            </intent-filter>
        </receiver>

        <service android:name="com.parse.PushService" />
        <receiver android:name="com.ryersonedp.caralarm.CustomParseBroadcastReceiver">
            <intent-filter>

                <!--All Parse Push Notifications are sent with the action below-->
                <action android:name="com.ryersonedp.caralarm.NEW_NOTIF" />
                <action android:name="com.ryersonedp.caralarm.STATUS_ALARM_ON"/>
                <action android:name="com.ryersonedp.caralarm.STATUS_ALARM_OFF"/>
                <action android:name="com.ryersonedp.caralarm.STATUS_ALARM_MANUAL_ON"/>
                <action android:name="com.ryersonedp.caralarm.STATUS_ALARM_MANUAL_OFF"/>

            </intent-filter>
        </receiver>

    </application>

</manifest>
